<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#Modal"
 (click)="show_add()"  mdbWaverEffect  [@flyInOut] = "'in'"
>Add Student</button>
<button type="button" class="btn btn-primary float-right m-2" 
  data-toggle="modal" data-target="#Modal"
  (click) = "topStudents()" *ngIf = "!IsTopList" mdbWaverEffect  [@flyInOut] = "'in'"
  >Top among students</button>
  <button type="button" class="btn btn-primary float-right m-2" 
  data-toggle="modal" data-target="#Modal"
  (click) = "simpleStudentInformation()" *ngIf = "!IsSimpleList" mdbWaverEffect  [@flyInOut] = "'in'"
  >Students' info</button>
<div mdbModal #Modal="mdbModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" [config] = "{backdrop: 'static'}"  >
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
      <div class="modal-content">
       <div class="modal-header">
        <h1 class="modal-title">{{ModalTitle}}</h1>
        <button type="button" class = "btn-close" data-mdb-dismiss="modal" aria-label="Close" (click) = "close()" ></button>
       </div>
        <div class="modal-body" >
          
          
            <app-add-edit-students [student] = "student" [ActivateAddStudentComp] = "ActivateAddStudentComp"  [ActivateEditStudentComp] = "ActivateEditStudentComp" *ngIf = "ActivateAddStudentComp || ActivateEditStudentComp"></app-add-edit-students>
            <app-show-subject [studentSubject] = "studentSubject" [ActivateShowSubjectComp] = "ActivateShowSubjectComp" *ngIf="ActivateShowSubjectComp == true"></app-show-subject>
        </div>
        
      </div>
    </div>
  </div>
  <table  class="styled-table"*ngIf = "IsTopList">
    <thead>
        <tr [@flyInOut] = "'in'">
          <th>
            <div class = "d-flex flex-row">
              <input [(ngModel)] = "student_id_filter" class = "form-control" placeholder="Filter"
              >
              
            </div>
            Id
            <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="GpaStudents" [sortBy] = "'student_id'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </button></th>
            <th>
          <div class = "d-flex flex-row">
            <input [(ngModel)] = "student_name_filter" class = "form-control" placeholder="Filter"
              >
              
            </div>
            Name
            <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="GpaStudents" [sortBy] = "'student_name'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColow" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </button></th>
            <th>
            <div class = "d-flex flex-row">
              
              </div>
              Surname
              <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="GpaStudents" [sortBy] = "'student_surname'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
                </svg>
              </button></th>
              <th>
              GPA
                <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="GpaStudents" [sortBy] = "'GPA'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
                  </svg>
                </button></th>
               
                
                    <th  >Options</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gpa of (GpaStudents) | filter: student_id_filter | filter: student_name_filter
         | filter: student_surname_filter | filter: student_faculty_filter">
            <td [@flyInOut] = "'in'">{{gpa.student_id}}</td>
            <td [@flyInOut] = "'in'">{{gpa.student_name}}</td>
            <td [@flyInOut] = "'in'">{{gpa.student_surname}}</td>
            <td [@flyInOut] = "'in'">{{gpa.GPA}}</td>  
            <td [@flyInOut] = "'in'">
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                (click)="delete_student(gpa.student_id)"
                >
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
            </td>
        </tr>
    </tbody>
  </table>
  



<table  class="styled-table"*ngIf = "IsSimpleList">
  <thead>
      <tr [@flyInOut] = "'in'">
        <th>
          <div class = "d-flex flex-row">
            <input [(ngModel)] = "student_id_filter" class = "form-control" placeholder="Filter"
            >
            
          </div>
          Id
          <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[0]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
            </svg>
          </button></th>
          <th>
        <div class = "d-flex flex-row">
          <input [(ngModel)] = "student_name_filter" class = "form-control" placeholder="Filter"
            >
            
          </div>
          Name
          <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[1]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
            </svg>
          </button></th>
          <th>
          
            Surname
            <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[2]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
              </svg>
            </button></th>
            <th>
           Faculty
              <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[3]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
                </svg>
              </button></th>
              <th>
             
              Speciality
              <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[4]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
                </svg>
              </button></th>
                <th>
                
         Group
         <button type="button" class="btn btn-light" aria-controls="tableSort" scope="col" [mdbTableSort]="StudentList.result_set" [sortBy] = "SortElements[5]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-expand" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
          </svg>
        </button></th>
                  <th  >Options</th>
        
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let st of StudentList.result_set | filter: student_id_filter | filter: student_name_filter
       | filter: student_surname_filter | filter: student_faculty_filter | filter: student_speciality_filter | filter: student_group_filter">
          <td [@flyInOut] = "'in'">{{st.student_id}}</td>
          <td [@flyInOut] = "'in'">{{st.student_name}}</td>
          <td [@flyInOut] = "'in'">{{st.student_surname}}</td>
          <td [@flyInOut] = "'in'">{{st.faculty_name}}</td>  
          <td [@flyInOut] = "'in'">{{st.speciality_name}}</td>
          <td [@flyInOut] = "'in'">{{st.group_name}}</td>      
          <td [@flyInOut] = "'in'" style = "text-align: center;">
              <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" data-target="#exampleModal"
              (click)="show_edit(st)"

              >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
              <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" data-target="#exampleModal"
              (click)="delete_student(st.student_id)"
              >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" data-target="#exampleModal"
              (click)="showSubjects(st)"
              >
              
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
              </svg>
              </button>
          </td>
      </tr>
  </tbody>
</table>
