<table class="table table-striped">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of StudentList.result_set">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.surname}}</td>
            <td>
                <button type= "button" class="btn btn-light mr-1">Edit</button>
            </td>
        </tr>
    </tbody>

</table>