  
<div class="container">

  <h3 class="d-flex justify-content-center">bruh </h3>
  <h5 class="d-flex justify-content-center">University Management Portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="students"
          class="m-1 btn btn-light btn-outline-primary" Button>Students</button>
      </li>

      <li class="nav-item">
          <button routerLink="faculty"
          class="m-1 btn btn-light btn-outline-primary" Button>Faculty</button>
      </li>
      <li class="nav-item">
        <button routerLink="speciality"
        class="m-1 btn btn-light btn-outline-primary" Button>Speciality</button>
    </li>
    <li class="nav-item">
        <button routerLink="group"
        class="m-1 btn btn-light btn-outline-primary" Button>Group</button>
    </li>
   
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>